.container1 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-xl);
  background-color: var(--neutral-colors-white);
  box-shadow: var(--general-shadows-shadow-01);
  width: 332px;
  height: 225.2px;
}
.arrowIcon1 {
  position: absolute;
  height: 63.13%;
<<<<<<< HEAD
  width: 19.84%;
  top: 18.13%;
=======
  width: 20.28%;
  top: 33.75%;

>>>>>>> Incoming
  right: 0%;
<<<<<<< HEAD
  bottom: 18.75%;
  left: 80.16%;
=======
  bottom: 3.13%;
  left: 79.72%;

>>>>>>> Incoming
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.number {
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 16px;
  font-weight: 500;
}
.growthPercentage {
  position: absolute;
  height: 22.22%;
<<<<<<< HEAD
  width: 49.73%;
=======
  width: 48.65%;

>>>>>>> Incoming
  top: 77.78%;
<<<<<<< HEAD
  right: 50.07%;
=======
  right: 51.15%;

>>>>>>> Incoming
  bottom: 0%;
  left: 0.2%;
}
.amount {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: var(--special-headings-display-3-size);
  line-height: 52px;
  color: var(--neutral-colors-black);
}
.growthInfo {
  position: absolute;
  height: 31.97%;
  width: 44.58%;
  top: 36.81%;
  right: 33.13%;
  bottom: 31.22%;
  left: 22.29%;
}
.cardTitle {
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 24px;
}
.cardInfo1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 89px;
  height: 24px;
}
.cardInfo {
  position: absolute;
  top: 31.9px;
  left: 33px;
  width: 89px;
  height: 24px;
  font-size: var(--headings-h5-size);
<<<<<<< HEAD
=======
  line-height: 24px;

>>>>>>> Incoming
  color: var(--neutral-colors-black);
}
.chart4 {
  position: absolute;
<<<<<<< HEAD
  top: 688.1px;
=======
  top: 679.1px;

>>>>>>> Incoming
  left: 324px;
  width: 332px;
  height: 225.2px;
  text-align: left;
  font-size: var(--text-single-uppercase-200-regular-size);
  color: var(--system-colors-green-400);
  font-family: var(--text-single-300-bold);
}
